<!DOCTYPE html>
<html>
  <head>
    <title>Loyalty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="nav">
      <% unless current_page?(root_path) %>
        <div class="link">
          <%= link_to "Home", root_path %>
        </div>
      <% end %>
      <% if current_user %>
        <% unless current_page?(edit_user_path(current_user)) %>
          <div class="link">
            <%= link_to "Edit My Profile", edit_user_path(current_user.id) %>
          </div>
        <% end %>
        <div class="link">
          <%= link_to "Logout", :logout, method: :post %>
        </div>
      <% else %>
        <div class="link">
          <%= link_to "Register", new_user_path %>
        </div>
        <% unless current_page?(login_path) %>
          <div class="link">
            <%= link_to "Login", :login %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flashes">
      <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p id="alert"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
