<%= form_for @user do |f| %>
<div class="edit">
  <%= f.label :name %>
  <%= f.text_field :name %></br>
</div>
<div class="edit">
  <%= f.label :username %>
  <%= f.text_field :username %></br>
</div>
<div class="edit">
  <%= f.label :email %>
  <%= f.email_field :email %></br>
</div>
<div class="edit">
  <%= f.label :location %>
  <%= f.text_field :location %></br>
  <p class="search cancel">Find Me</p>
</div>
<div class="edit">
  <%= f.label :password %>
  <%= f.password_field :password %></br>
</div>
<div class="edit">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></br>
</div>
<div class="edit" id="submit">
  <%= f.submit %>
</div>
<% end %>
