<% if current_user %>
<script type="text/javascript">
  var userId = <%= current_user.id  %>
</script>
  <%= render 'form' %>
<% else %>
  <h2>Please log in to post a message</h2>
<% end %>
<div class="board">
  <% @messages.each do |message| %>
    <div class="box">
      <div class="text">
        <p><%= message.memo %></p>
        <p>Author: <%= User.find(message.user_id).username %></p>
      </div>
      <div class="reply-box">
        <% if current_user %>
          <p class="reply">Reply</p>
        <% end %>
      </div>
      <div class="form-modal show">
        <input type="hidden" name="parent_message_id" val="<%= message.id %>">
        <%= render 'reply_form' %>
      </div>
    </div>
  <% end %>
</div>
